 :root {
     --primary-bg-color: #080808;
     --primary-color: white;
 }

 * {
     background: var(--primary-bg-color);
     margin: 0;
     padding: 0;
 }

 header nav {
     /* background: #202126; */
     height: 60px;

 }

 main {
     display: flex;
     border: 2px solid yellow;
 }

 section {

     border: 2px solid yellow;
     height: 20px;
     width: 20%;
 }

 article {
     color: var(--primary-color);

     border: 2px solid yellow;
     width: 80%;
 }

 .sdlt {
     width: 20%;
     display: inline-block;
     display: flex;


 }

 svg {
     display: inline-block;
 }

 .menu {
     width: 30%;
     display: flex;
     justify-content: center;
     align-items: center;
 }


 .search {
     width: 60%;
 }

 .sdrt {
     width: 20%;
     display: inline-block;
     position: right;
 }

 nav {
     display: flex;
 }

 img#logo1 {
     width: 100px;
 }

 .img {
     display: inline-block;
 }

 .logo {
     width: auto;
     display: flex;
     box-sizing: border-box;
     justify-content: center;
     align-content: center;
 }

 .menu svg,
 .logo svg {

     justify-content: center;
     align-items: center;
     display: block;
     padding: 10px;
     background-color: transparent;
 }

 input {
     width: 40vw;
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
     border: 1px solid rgba(255, 255, 255, 0.116);
     height: 40px;
     padding-left: 15px;
     font-size: 17px;
     box-sizing: border-box;
     color: white;

 }


 button#search1 {

     border-style: none;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     background-color: rgba(255, 255, 255, 0.158);
     height: 40px;
     width: 65px;
     box-sizing: border-box;
     overflow: hidden;
 }

 button#search1 svg {
     justify-content: center;
     align-items: center;
     display: inline-block;
     padding: 10;
     background-color: transparent;
 }

 .box {
     display: flex;
     align-items: center;
     /* flex: 1; */
 }

 button#mic1 {
     box-sizing: border-box;
     margin-left: 20px;
     height: 40px;
     width: 40px;
     background-color: rgb(255, 255, 255, 0.158);
     border-style: none;
     border-radius: 100%;
     border-color: rgba(255, 255, 255, 0.158);
     justify-content: center;
     align-items: center;
 }

 img#logo2 {
     padding-top: 2px;
     box-sizing: border-box;
     height: 40px;
     width: 40px;
     border-radius: 100%;
     background: transparent;
     justify-content: center;
     align-items: center;
     /* background-color: rgb(255, 255, 255, 0.158); */

 }

 .search {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .mic
{
    display: flex;
    justify-content: center;
    align-items: center;
}